
.header-youtube{
    display: flex;
    height: 56px;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    border: solid 1px rgba(128, 128, 128, 0.396);
    z-index: 1002;
    
    
    


}
.left-section{
    display: flex;
    align-items: center;
    width: 160px;
    height: 40px;
    flex-shrink: 0;
    
}
.button-hamberger-menu{
    width: 35px ;
    height: 35px;
    border-radius: 30px;
    border: none;
    flex-shrink: 0;
    margin-left: 9px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.hamberger-menu{
    width: 25px !important;
    height: 25px !important;

    flex-shrink: 0;
    display: block !important;
    
}
.div-youtube-icon-tooltip{
    position: relative;
    align-items: center;
    display: flex;
    cursor: pointer;
    height: 38px;
    
   
   
    
}
.div-youtube-icon{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
   

}
.tooltip-youtube-icon , .tooltip-search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -36px;
    background-color: rgb(10, 10, 10);
    border: solid 3px rgb(143, 143, 143);
    font-weight: 500;
    font-size: 13px;
    color: rgb(143, 143, 143);
    white-space: nowrap;
    height: 24px;
    flex-shrink: 0;
    padding: 0 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;

}
.div-youtube-icon-tooltip:hover .tooltip-youtube-icon {
    opacity: 1;
}

.youtube-icon{
    width: 90px !important;
    flex-shrink: 0;
    
}
.middle-section{
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 600px;
    margin-left: 32px;
}
.div-input-search{
    display: flex;
    height: 38px;
    border: 1px solid gray;
    border-radius: 25px;
    flex: 1;
    

}
.input-search{
    flex: 1;
    border: none;
    padding: 0 ;
    margin-left: 17px;
    box-sizing: border-box;
    width: 100%;
    

}
.magnifying-button{
    width: 65px;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
    background-color: rgba(16, 16, 16, 0.108);
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    position: relative;
    

}
.magnifying-button2{
    display: none;
    align-items: center;
    justify-content: center;
    height: 38px;
    height: 38px;
    margin-left: 13px;
    border-radius: 30px;
    background-color: rgba(16, 16, 16, 0.108);
    border: 1px solid gray;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}
.magnifying-button:hover .tooltip-search{
    opacity: 1;
}
.svg-magnifying-button{
    height: 24px !important;
    width: 24px;
    color: rgba(0, 0, 0, 0.719) !important;
}
.mic-button-search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    height: 38px;
    margin-left: 13px;
    border-radius: 30px;
    background-color: rgba(16, 16, 16, 0.108);
    border: 1px solid gray;
    cursor: pointer;
    position: relative;
   
}
.mic-button-search:hover .tooltip-mic{
    opacity: 1;
}
.tooltip-mic ,.tooltip-bell{
    display: flex;
    position: absolute;
    bottom: -42px;
    white-space: nowrap;
    color: rgba(251, 249, 249, 0.852);
    background-color: gray;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;


}
.mic-svg{
    height: 24px !important;
    width:  24px !important;
    color: rgba(0, 0, 0, 0.719) !important;

}
.right-section{
    display: flex;
    align-items: center;
    width: 210px;
    height: 40px;
    flex-shrink: 0;
    justify-content: right;
}
.button-create{
    display: flex;
    color: rgba(1, 1, 1, 0.748);
    align-items: center;
    gap: 2px;
    font-weight: bold;
    background-color: rgba(16, 16, 16, 0.108);
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
    
}
.plus-create{
    width: 24px !important;
    height: 24px !important;
   
   
}

.button-bell{
    width: 36px;
    height: 36px;
    border-radius: 30px;
    color: rgba(1, 1, 1, 0.585);
    border: solid 1px rgba(1, 1, 1, 0.585);
    margin-right: 8px;
    background-color: rgba(16, 16, 16, 0.108);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-bell:hover .tooltip-bell{
    opacity: 1;
}
.notification-ball{
    position: absolute;
    font-family: Roboto,Arial;
    background-color: rgb(186, 1, 1);
    font-size: 12px;
    color: white;
    top: -6px;
    right: -10px;
    padding: 2px 4px;
    border-radius: 20px;


}
.svg-bell{
    width: 24px !important;
    height: 24px !important;
}
.button-profile-acc{
    width: 54px;
    height: 34px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    
}
.img-profile-acc{
    border-radius: 30px;
    width: 32px;
    height: 32px;
}
@media(max-width:654px){
    .middle-section{
        justify-content: end;
    }
    .div-input-search{
        display: none;
    }
    .magnifying-button2{
        display: flex;
    }
    .magnifying-button2:hover .tooltip-mic{
        opacity: 1;
    }

}